html
    scroll-behavior: smooth

body
    font-family: 'Montserrat', sans-serif
    color: $purple-black
    font-weight: $medium
    min-height: 100vh

*:not([class^="noUi"])
    transition-duration: .25s

[disabled]
  opacity: .5
  cursor: default
  pointer-events: none
